@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Noto', sans-serif;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 19px;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  padding: 0 13px;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul >li> a:hover {
  color: rgb(203, 198, 210);
}

main {
  min-height: 100vh;
  padding: 2px;
}
.logo img {
    width: 15px;
    filter: invert(1);
  }

.container {
  max-width: 80vw;
  margin: auto;
  padding: 15px;
}

.container h1 {
  padding: 12px 0;

}

input[type='email'] {
  min-width: 23vw;
  padding: 3px 12px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 20px;
}

.btn {
    background-color: black;
    color: white;
    padding: 9px 12px;
    border: 1px solid gray;
    border-radius: 6px;
    cursor: pointer;
}

#resultCont div:first-letter {
  text-transform: uppercase;
}

footer {
  font-size: 12px;
  background-color: black;
  color: white;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .container {
    font-size: 12px;
  }
  nav {
    flex-direction: column;
  }
  .logo {
    padding: 6px 0;
  }
  .logo span {
    font-size: 20px;
  }
  .logo img {
    width: 15px;
    filter: invert(1);
  }

}